:root {
  --cream: #F6F0D7;
  --light-green: #C5D89D;
  --mid-green: #9CAB84;
  --dark-green: #89986D;
   --navbar-height: 72px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--cream);
}

.header {
  margin-top: var(--navbar-height);
  background-color: var(--dark-green);
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1{
  border: 4px solid var(--cream);
  width: fit-content;
  padding: 8px 15px;
  border-radius: 30px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: var(--light-green);
  padding: 25px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
}

.card span {
  display: block;
  margin-top: 10px;
  font-size: 26px;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.box {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.box h2 {
  margin-bottom: 15px;
  color: var(--dark-green);
}

.box button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--mid-green);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.box button:hover {
  background-color: var(--dark-green);
}
